@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap);body {
  font-family: "Roboto", sans-serif;
  background: #B0CB8C;
  height: 100vh;
  position: relative;
}

.body {
  padding-top: 100px;
  padding-bottom: 100px;
}

.primary-color {
  color: #73A649;
}

.testimonial-view {
  padding: 50px 15px;
  margin-bottom: 70px;
  background: #fff;
  color: #333;
  border-radius: 3px;
  -webkit-box-shadow: 0 5px 30px -5px rgba(0, 0, 0, 0.15);
          box-shadow: 0 5px 30px -5px rgba(0, 0, 0, 0.15);
  position: relative;
}

.testimonial-view:before {
  content: '';
  position: absolute;
  bottom: -52px;
  left: 60px;
  right: 60px;
  height: 100px;
  background: #fff;
  border-radius: 3px;
  -webkit-box-shadow: 0 5px 30px -5px rgba(0, 0, 0, 0.15);
          box-shadow: 0 5px 30px -5px rgba(0, 0, 0, 0.15);
  z-index: -1;
}

.testimonial-view:after {
  content: '';
  position: absolute;
  bottom: -27px;
  left: 30px;
  right: 30px;
  height: 100px;
  background: #fff;
  border-radius: 3px;
  -webkit-box-shadow: 0 5px 30px -5px rgba(0, 0, 0, 0.15);
          box-shadow: 0 5px 30px -5px rgba(0, 0, 0, 0.15);
  z-index: -1;
}

.testimonial-view img.left-quote {
  opacity: 0.02;
  height: 20%;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  position: absolute;
  left: 5%;
}

.testimonial-view img.right-quote {
  opacity: 0.02;
  height: 20%;
  position: absolute;
  right: 5%;
  bottom: 5%;
}

@media (min-width: 900px) {
  .testimonial-view {
    margin-left: 50px;
    margin-right: 50px;
    padding: 50px;
  }

  .testimonial-view .carousel-control-prev {
    left: -150px;
  }

  .testimonial-view .carousel-control-next {
    right: -150px;
  }

  .testimonial-view .carousel-control-next-icon,
  .testimonial-view .carousel-control-prev-icon {
    width: 40px;
    height: 40px;
  }
}

.section-header {
  font-weight: bold;
  text-align: center;
  padding-bottom: 10px;
  margin-bottom: 20px;
  position: relative;
}

.section-header:after {
  content: "";
  height: 4px;
  width: 100px;
  background-color: #73A649;
  position: absolute;
  bottom: 0;
  left: calc(50% - 50px);
}

.testimonial-block {
  padding: 15px;
}

@media (min-width: 900px) {
  .testimonial-block {
    padding: 50px;
  }
}

.testimonial-block .testimonial-block_user {
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.testimonial-block .testimonial-block_user .testimonial-block_user_image {
  position: relative;
  margin: 0 30px 30px 15px;
}

.testimonial-block .testimonial-block_user .testimonial-block_user_image img {
  height: 170px;
  width: 170px;
  border: 7px solid #eaeaea;
  border-radius: 170px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.testimonial-block .testimonial-block_user .testimonial-block_user_image:before {
  content: "";
  height: 120px;
  width: 120px;
  border-radius: 120px;
  background: #33691E;
  position: absolute;
  left: -5px;
  top: -10px;
  z-index: -1;
}

.testimonial-block .testimonial-block_user .testimonial-block_user_image:after {
  content: "";
  height: 85px;
  width: 85px;
  border-radius: 85px;
  background: #9CCC65;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.testimonial-block .testimonial-block_user .testimonial-block_user_info .testimonial-block_user_info_name {
  font-weight: bold;
  padding-bottom: 10px;
  margin-bottom: 10px;
  position: relative;
}

.testimonial-block .testimonial-block_user .testimonial-block_user_info .testimonial-block_user_info_name:after {
  content: "";
  height: 3px;
  width: 50px;
  background-color: #73A649;
  position: absolute;
  bottom: 0;
  left: 0;
}

.testimonial-block .testimonial-block_content {
  text-align: center;
  font-size: 20px;
}

