@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap);html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  background: #f9f9f9;
}

.primary-color {
  color: #FF9232;
}

.primary-bg {
  background-color: #FF9232 !important;
}

.bg-gradient {
  background: -webkit-gradient(linear, left top, right top, from(#591869), to(#9b2179));
  background: linear-gradient(to right, #591869, #9b2179);
  color: #fff;
}

.section-100 {
  padding: 100px 0;
}

.btn {
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 50px;
  text-transform: uppercase;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16);
}

.btn.btn-lg {
  padding-left: 30px;
  padding-right: 30px;
}

.btn i {
  padding-left: 20px;
}

.btn-primary {
  background-color: #FF9232;
  border-color: #FF9232;
}

.btn-primary:hover {
  background-color: #ff8419;
  border-color: #ff8419;
}

.testimonial-view {
  padding: 50px;
  margin-bottom: 30px;
  background: #fff;
  color: #333;
  border-radius: 3px;
  -webkit-box-shadow: 0 5px 30px -5px rgba(0, 0, 0, 0.05);
          box-shadow: 0 5px 30px -5px rgba(0, 0, 0, 0.05);
  position: relative;
}

.testimonial-view:before {
  content: '';
  position: absolute;
  bottom: -52px;
  left: 60px;
  right: 60px;
  height: 100px;
  background: #fff;
  border-radius: 3px;
  -webkit-box-shadow: 0 5px 30px -5px rgba(0, 0, 0, 0.05);
          box-shadow: 0 5px 30px -5px rgba(0, 0, 0, 0.05);
  z-index: -1;
}

.testimonial-view:after {
  content: '';
  position: absolute;
  bottom: -27px;
  left: 30px;
  right: 30px;
  height: 100px;
  background: #fff;
  border-radius: 3px;
  -webkit-box-shadow: 0 5px 30px -5px rgba(0, 0, 0, 0.05);
          box-shadow: 0 5px 30px -5px rgba(0, 0, 0, 0.05);
  z-index: -1;
}

.testimonial-box {
  text-align: center;
}

.testimonial-box .testimonial-content {
  line-height: 1.5;
}

.testimonial-box .quote-icon {
  font-size: 50px;
  color: #eee;
  margin-top: 20px;
  margin-bottom: 20px;
}

.testimonial-box img.user-img {
  height: 150px;
  width: 150px;
  border: 5px solid #eee;
  border-radius: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0 auto 15px auto;
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16);
          box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16);
}

.owl-nav .owl-prev {
  float: left;
  font-size: 30px !important;
}

.owl-nav .owl-next {
  float: right;
  font-size: 30px !important;
}

.owl-dots {
  text-align: center;
}

.owl-dots .owl-dot {
  height: 8px;
  width: 8px;
  border-radius: 8px;
  background: #ccc !important;
  margin-left: 5px;
  margin-right: 5px;
  outline: none;
}

.owl-dots .owl-dot.active {
  background: #999 !important;
}

