@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap');

@mixin for-phone-only {
  @media (max-width: 767px) { @content; }
}
@mixin for-tablet {
  @media (min-width: 768px) { @content; }
}
@mixin for-desktop {
  @media (min-width: 1200px) { @content; }
}

$primary:#2E69F3;

body{
	background:#f9f9f9;
	font-family: "roboto", sans-serif;
}

.main-content{
	padding:50px 0;
}

.wizard{
	display: flex;
	max-width:1000px;
	margin:0 auto;
	min-height:500px;
	background: #fff;
	box-shadow: 0 2px 30px rgba(0,0,0,0.1);
}
.wizard-menu{
	width:300px;
	background-size:cover;
	background-position: center;
	.nav.nav-tabs{
		height:100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		li{
			float:none;
			display: flex;
			align-items: center;
			text-align: right;
			height:100px;
			position: relative;
			&.active{
				background:$primary;
				&:after{
					content:"";
					position: absolute;
					right:-40px;
					border-top: 20px solid transparent;
					border-right: 20px solid transparent;
					border-bottom: 20px solid transparent;
					border-left: 20px solid $primary;
				}
			}
			a{
				width:100%;
				color:#fff;
				background:transparent;
				border:0;
				padding:15px 30px;
				position: relative;
				font-size:18px;
				span{
					font-size:58px;
					opacity: 0.2;
					position: absolute;
					top: calc(50% - 40px);
					right:15px;
					font-weight: bold;
				}
			}
		}
	}
}
.tab-content{
	width:calc(100% - 300px);
	padding:30px 100px 100px 100px;
	
	position: relative;
	.bottom-action{
		position: absolute;
		bottom:30px;
		width:calc(100% - 200px);
	}
}

.btn{
	border-radius:1px;
	box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.btn-primary{
	background:$primary;
	&:hover{
		background:darken($primary,5%);
	}
}