@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");
body {
	background: #f9f9f9;
	font-family: "Roboto", sans-serif;
}

.main-content {
	padding-top: 100px;
	padding-bottom: 100px;
}

.box {
	margin-bottom: 25px;
	border-radius: 5px;
	background: #fff;
	overflow: hidden;
	box-shadow: 0 5px 30px -5px rgba(0, 0, 0, 0.16);
}
.box--primary {
	background: #007bff;
	color: #fff;
}
.box--success {
	background: #4caf50;
	color: #fff;
}
.box--warning {
	background: #ff9800;
	color: #fff;
}

.helper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
}
@media (max-width: 767px) {
	.helper {
		flex-wrap: wrap;
	}
}
.helper__content {
	padding: 25px;
}
@media (min-width: 768px) {
	.helper__content {
		margin-right: 225px;
	}
}
@media (max-width: 767px) {
	.helper__content {
		margin-bottom: 155px;
	}
}
.helper__img img {
	width: 250px;
	max-height: 250px;
	object-fit: contain;
	position: absolute;
	right: 0;
	bottom: 0;
}
